.post {
    p > img, figure {
        margin: 2rem 0;
    }

    h3 {
        margin: 5rem 0 1rem 0;
    }

    figure {
        max-width: 80%;

        figcaption {
            margin: 1rem 0 0 0rem;
            font-weight: 300;
            
            &:after {
                content: "";
                display: block;
                width: 50px;
                height: 4px;
                position: absolute;
                background-color: var(--secondary);
                margin-top: 5px;
            }
        };
    }
}

@media screen and (max-width: 600px) {
    .blog {
        p, figure {
            max-width: 100%;
        }
    }

    .post { 
        p, figure {
            max-width: 100%;
        }
    }

    h1 {
        font-size: 1.99rem;
    }
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) {

    .post p,
    .post li, 
    .post a {
        max-width: 100%;
    }

}