.card {
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
    height: -webkit-fit-content;
    margin-bottom: 2rem;
    position: relative;
    transition: 0.5s;
    display: grid;
    grid-template-rows: 1fr 1fr;

    &:hover {
        transform: scale(1.025);
    }
    img {
        border-radius: 20px 20px 0 0;
        width: 100%;
        height: 10rem;
        object-fit: cover;

        -webkit-clip-path: polygon(0 0,100% 0,100% 95%,0 100%);
        clip-path: polygon(0 0,100% 0,100% 95%,0 100%);
    }

    figcaption {
        padding: 1rem;
        display: grid;
        grid-template-rows: subgrid;
        row-gap: 2rem;
        grid-row: span 2;

        h3 {
            color: black;
            -webkit-text-fill-color: black;
            font-weight: 500;
            font-size: var(--step-1);

            a {
                transition: 0.5s;
            }
        }

        h3 a::after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
        }

        h3 a:hover {
            background: rgb(252,152,66);
            background: -moz-linear-gradient(90deg, rgba(252,152,66,1) 0%, rgba(254,95,117,1) 100%);
            background: -webkit-linear-gradient(90deg, rgba(252,152,66,1) 0%, rgba(254,95,117,1) 100%);
            background: linear-gradient(90deg, rgba(252,152,66,1) 0%, rgba(254,95,117,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fc9842",endColorstr="#fe5f75",GradientType=1);

            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        p {
            font-family: 'Inknut Antiqua', serif;
            font-weight: 300;
        }

        .pill {
            font-size: var(--step--2);
            font-weight: 100;
            padding: 0.25rem 0.5rem;
            color: white;
            width: fit-content;
            border-radius: 20px;
        }

        [data-role=guildmaster] {
            background-color: var(--primary);
        }
        [data-role=circle] {
            background-color: var(--secondary);
        }
        [data-role=battle] {
            background-color: green;
        }
        [data-role=mercantile] {
            background-color: purple;
        }
        [data-role=recruits] {
            background-color: maroon;
        }
    }

}

.role-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
    row-gap: 2rem;
    margin: 2rem 0;
}

#recruits {
    grid-template-columns: 25vw;
    .card {
        display: block;
    }
}

.user-info {
    display: flex;
    column-gap: 1rem;
    align-items: center;

    div {
        width: 100%;
    }

    img {
        width: 50px;
        height: 50px;
        object-fit: cover;
        margin: 0;

        clip-path: circle();
    }

    p {
        line-height: 1;
        padding: 0;
        font-family: 'Inknut Antiqua', serif;
    }

    .name {
        font-size: var(--step--1);
        margin-bottom: 0.1rem;
    }

    .date {
        font-size: var(--step--2);
        margin: 0;
        font-family: 'Inknut Antiqua', serif;
        font-weight: 300;
    }
}

// For the archives page

@media screen and (min-width: 600px) and (max-device-width: 2559px){
    #archive-feed {
        .card:nth-last-child(1):nth-child(odd) {
            grid-column: 1 / -1;
            display: flex;
            column-gap: 5rem;
            align-items: center;
    
            picture {
                width: 60%;
                height: max-content;
                margin: 0;
    
                img {
                    border-radius: 20px 0 0 20px;
                    clip-path: none;
                    margin: 0;
                    
                    height: 100%;
                    max-height: 300px;
    
                    clip-path: polygon(0% 0%, 90% 0%, 100% 100%, 0% 100%);
                }
            }
    
            figcaption {
                margin: 1rem 0;
    
                .user-info {
                    margin-bottom: 0;
                }
            }
        }
    }
}

@media screen and (max-device-width: 768px) {
    .role-grid {
        display: block;
    }
}
