.cta-full {
    background-image: url(https://cdn.buttercms.com/YQRFAsroTdhB5xWOobMw);
    background-size: cover;
    background-position: bottom;
    padding: 5rem 0;
    margin-top: 10rem;

    .cta {
        transition: 0.75s;
        max-width: 80vw;
        margin: 0 auto;

        &:hover {
            filter: drop-shadow(0px 0px 0.75rem #FE5F75);
        }

        a {
            font-size: var(--step-5);
            font-family: 'Inknut Antiqua', serif;
            color: black;
            text-decoration: none;
            text-align: center;

            display: block;
            background: linear-gradient(90deg, rgba(254,95,117,1) 0%, rgba(252,149,68,1) 100%);
            padding: 2.5rem 1rem;
            margin: 0rem auto;
            border-radius: 50px;
            text-decoration: none;
            transition: 0.75s;
            clip-path: polygon(0% 50%, 10% 0%, 90% 0%, 100% 50%, 90% 100%, 10% 100%);
        }
    }
}

nav .cta {
    transition: 0.75s;
    max-width: 25%;

    &:hover {
        filter: drop-shadow(0px 0px 0.75rem #FE5F75);
    }

    a {
        font-size: var(--step-0);
        font-family: 'Inknut Antiqua', serif;
        color: black;
        text-decoration: none;
        text-align: center;

        display: block;
        background: linear-gradient(90deg, rgba(254,95,117,1) 0%, rgba(252,149,68,1) 100%);
        padding: 0.5rem 1.5rem;
        border-radius: 50px;
        text-decoration: none;
        transition: 0.75s;
        clip-path: polygon(0% 50%, 10% 0%, 90% 0%, 100% 50%, 90% 100%, 10% 100%);
    }

}

@media only screen
  and (max-device-width: 600px) {

    .cta-full .cta a {
        clip-path: none;
        border-radius: 5px;
    }

}

@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1400px) {

    nav .cta a {
        clip-path: none;
        border-radius: 5px;
    }

}

@media screen and (min-device-width: 2559px) {
    .cta-full .cta {
        max-width: 65vw;
    }
}