footer {
    background-color: black;
    color: white;
    padding: 2.5rem;
    font-size: var(--step-0);

    a {
        color: var(--primary);
        transition: 0.5s;

        &:hover {
            color: var(--secondary);
        }
    }
}