{% extends "layouts/base-hero-title.html" %}
{% block content %}
  <article>

    <ul class="two-column" id="archive-feed">

        {% for data in posts.data %}

        <figure class="card">
            <picture>
                <img src="{{ data.featured_image }}" alt="">
            </picture>

            <figcaption>
                <h3><a href="{{ data.url }}/">{{ data.title }}</a></h3>

                <div class="user-info">
                    <img src="{{ data.author.profile_image }}" width=200>
                        <div>
                            <p class="name">{{ data.author.first_name }} {{ data.author.last_name }}</p>
                            <time datetime="{{ data.published | w3DateFilter }}" class="date">{{ data.published | dateFilter }}</time>
                        </div>
                </div>
            </figcaption>
        </figure>

        {% endfor %}

    </ul>
  </article>
{% endblock %}