@use 'reset';
@use 'colours';
@use 'typography';

//Import components
@use 'components/nav';
@use 'components/header';
@use 'components/footer';
@use 'components/scrollbar';
@use 'components/visually-hidden';
@use 'components/cta';
@use 'components/focus-grid';
@use 'components/cards';
@use 'components/blog';

article {
  max-width: 80vw;
  margin: 0 auto;
}

.two-column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5rem;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .two-column {
      column-gap: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .two-column {
    display: block;
  }
}

@media screen and (min-device-width: 2559px) {
  nav .navInner, header .headerInner, article {
    max-width: 65vw;
    margin: 0 auto;
  }
  #archive-feed {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.blog {
  width: 100%;
}

@media screen and (max-width: 1400px) {
  #home {
    display: block;
  }
}
