<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="theme-color" content="#000000" />
    <link rel="shortcut icon" type="image/svg" href="/images/dingir.svg"/>
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">


    <link rel="stylesheet" href="/css/irkallu.css?{{ assetHash }}"> <!-- ?{{ assetHash }} -->

    <title>{{ title }}</title>
  </head>